h1 {
    font-family: "Anton", sans-serif;
    font-size: 100px;
    text-decoration: underline;
}

h2 {
    font-family: "Anton", sans-serif;
    font-size: 35px;
}

h3 {
    font-family: "Anton", sans-serif;
    font-size: 35px;
    text-align: center;
    background-color: #228B22;
    padding: 10px;
    margin: 0px;
}

body {
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.flex-parent {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #AFE1AF;
    padding: 20px 30px;
    align-items: center;
}

header div {
    width: 100%;
}

nav {
    display: flex;
    justify-content: center;
    gap: 200px;
    margin-top: 70px;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 22px;
}

nav a:hover {
    color: lightsteelblue;
    background-color: black;
    padding: 5px 10px;
    border-radius: 5px;
}

.intro-paragraph {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 30px;
}

footer {
    text-align: center;
    background-color: #097969;
    padding: 20px 30px;
}

footer p {
    margin: 0;
}

.intro-bkg {
    background-color: white;
    width: 350px;
    border-radius: 15px;
    margin: 20px;
}

p {
    margin: 10px 0;
    line-height: 1.6;
    padding: 10px;
}

.grid-parent {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

@media (max-width: 1024px) {
    header {
        padding: 10px;
    }

    h1 {
        font-size: 90px;
    }

    h2 {
        font-size: 25px;
    }

    nav {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    nav a {
        margin: 10px 0;
    }

    .nav-links.active {
        display: flex;
    }

    h1 {
        font-size: 1.5em;
    }

    p {
        font-size: 1em;
    }
}